//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 16 11:58:17 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Load" LOCATE = SITE "B8" LEVEL 1;
COMP "ASCII<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "ASCII<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "ASCII<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "ASCII<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "ASCII<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "ASCII<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "ASCII<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "ASCII<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "Rst" LOCATE = SITE "C9" LEVEL 1;
COMP "Tx" LOCATE = SITE "N18" LEVEL 1;
COMP "Clk" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

