#Clk & Reset
NET "Rst" LOC =B8;
NET "Clk" LOC =V10;

#Serial Port
NET "Din"  LOC = N17;

#Anodes
NET "Anode[3]" LOC =P17;
NET "Anode[2]" LOC =P18;
NET "Anode[1]" LOC =N15;
NET "Anode[0]" LOC =N16;

#Display Segments
NET "Seg[0]"    LOC = T17;
NET "Seg[1]"    LOC = T18;
NET "Seg[2]"    LOC = U17;
NET "Seg[3]"    LOC = U18;
NET "Seg[4]"    LOC = M14;
NET "Seg[5]"    LOC = N14;
NET "Seg[6]"    LOC = L14;
NET "Seg[7]"    LOC = M13;